body.rtl .wt-navigationarea .wt-logo,body.rtl .wt-navigationarea .wt-userimg,body.rtl .wt-navigationarea .wt-logininfo .wt-btn,body.rtl .wt-navigationarea .wt-logininfo .wt-checkbox,body.rtl .wt-loginfooterinfo a,body.rtl .wt-videoshow,body.rtl .wt-videocontent,body.rtl .wt-appicon li,body.rtl .wt-footerlogohold .wt-logo,body.rtl .wt-footerlogohold .wt-socialiconssimple li,body.rtl .wt-companyinfo,body.rtl .wt-copyrights,body.rtl .wt-footerbottom .wt-addnav ul li,body.rtl .wt-joininfo .wt-companyinfo span a,body.rtl .wt-formbannervtwo,body.rtl .wt-statisticcontent,body.rtl .wt-userlistingcontent .wt-contenthead,body.rtl .wt-userlistinghold .wt-widgettag,body.rtl .widget_categories>ul>li a,body.rtl .wt-widget .tagcloud a,body.rtl .wt-particlehold figure,body.rtl .wt-tagsshare .wt-tag,body.rtl .wt-tagsshare .wt-tag span,body.rtl .wt-breadcrumb li,body.rtl .wt-proposalsicon,body.rtl .wt-proposalsrcontent .wt-title,body.rtl .wt-skillsrequired .wt-widgettag a,body.rtl .wt-skillsrequired .wt-widgettag,body.rtl .wt-categoryslidercontent figure,body.rtl .wt-categoryslidercontent .wt-cattitle,body.rtl .wt-skillbar,body.rtl .wt-freelancers-img,body.rtl .wt-articleby,body.rtl .wt-formregister .wt-registerformgroup .form-group,body.rtl .wt-formaccordionhold .wt-radioboxholder,body.rtl .wt-formregister-step-two .wt-termsconditions .wt-checkboxholder .wt-btn,body.rtl .wt-widgettagvtwo.wt-widgettag a,body.rtl .wt-service-tag a,body.rtl .wt-servicesingle-title .wt-userlisting-breadcrumb li,body.rtl .wt-userlistinghold .wt-widgettag a,body.rtl .wt-postarticlemeta li,body.rtl .wt-tagsshare .wt-tag a,body.rtl .style-lable,body.rtl .style-name,body.rtl .woocommerce-checkout #payment ul.payment_methods li input,body.rtl .wt-video-list{float:right}
body.rtl .wt-loginarea,body.rtl .wt-respsonsive-search,body.rtl .wt-navigationarea .wt-rightarea,body.rtl .wt-formbanner .wt-dropdown>span i,body.rtl .wt-formbanner .wt-searchbtn,body.rtl .wt-fbtnarea,body.rtl .wt-loginheader a,body.rtl .wt-footerbottom .wt-addnav,body.rtl .wt-tagsshare .wt-blogsocialicons,body.rtl .wt-boxright,body.rtl .wt-attachfile li em,body.rtl .wt-totalamount li span,body.rtl .wt-userlisting .wt-userlistingcontent .user-stars-v2,body.rtl .wt-profilecounter,body.rtl .wt-skillholder span em,body.rtl .wt-navigationarea .wt-userlogedin,body.rtl .wt-rightarea,body.rtl .wt-modalcontent .wt-popuptitle a{float:left}
body.rtl .wt-bannercontent,body.rtl .wt-dropdown>span em,body.rtl .wt-sectionhead,body.rtl .wt-fwidgettitle,body.rtl .wt-fwidgetcontent,body.rtl .wt-footerlogohold .wt-description,body.rtl .wt-loginheader,body.rtl .wt-statisticcontent,body.rtl .wt-formsearch fieldset .wt-checkboxholder .wt-radio,body.rtl .wt-formsearch fieldset .wt-checkboxholder .wt-checkbox,body.rtl .wt-comcontent,body.rtl .wt-userlistingcontent .wt-contenthead,body.rtl .wt-widgettitle,body.rtl .wt-viewjobholder ul li,body.rtl .wt-comfollowers ul li,body.rtl .wt-sharejob .wt-socialiconssimple li,body.rtl .wt-articlecontent,body.rtl .wt-classicaricle-header .wt-title,body.rtl .wt-classicaricle-header .wt-description,body.rtl .wt-articlesingle-content .wt-description p,body.rtl .wt-bloglistingstyle li,body.rtl .wt-articlesingle-content .wt-title h2,body.rtl .comment-respond .wt-boxtitle,body.rtl .wt-formleavecomment .form-group,body.rtl .wt-titlebar,body.rtl .wt-reportdescription .wt-description p,body.rtl .wt-reportdescription .wt-title,body.rtl .widget_nav_menu .menu-pages-container .menu,body.rtl .wt-proposalsrcontent .wt-title,body.rtl .wt-formreport fieldset .form-group.wt-btnarea,body.rtl .wt-projectliststyle,body.rtl .wt-projectdetail .wt-description p,body.rtl .wt-projectdetail-holder .wt-title,body.rtl .wt-attachfile li,body.rtl .wt-proposalamount-holder>.wt-title,body.rtl .wt-proposalamount .form-group em,body.rtl .wt-totalamount li,body.rtl .wt-formcategory .form-group-label .wt-labelgroup,body.rtl .wt-formproposal .wt-formcategory .wt-btnarea,body.rtl .wt-categoryslidercontent .wt-cattitle,body.rtl .wt-userlistinghold .wt-description,body.rtl .wt-services-holder .wt-title,body.rtl .wt-skillholder span,body.rtl .wt-usersingle .wt-usertitle,body.rtl .wt-experiencecontent,body.rtl .wt-experience .wt-experiencelisting .wt-title,body.rtl .wt-freelancers-content,body.rtl .wt-bannerholdervtwo .wt-videocontent span,body.rtl .wt-articles .wt-articlecontents,body.rtl .sticky-queue .jf-description,body.rtl .wt-formregister .wt-registerformgroup .form-group,body.rtl .wt-formaccordionhold .wt-radioboxholder,body.rtl .wt-formaccordionhold .wt-accordiontitle .wt-radio input[type=radio]+label,body.rtl .wt-verifyform .form-group label,body.rtl .wt-verifyform .form-group.wt-btnarea,body.rtl .wt-navigationarea .wt-userlogedin .wt-username span,body.rtl .wt-navigationarea .wt-userlogedin .wt-username h3,body.rtl .wt-navigationarea .wt-userlogedin .wt-usernav ul li,body.rtl .wt-starthiringhold .wt-accordionhold li,body.rtl .wt-navigation ul li,body.rtl .wt-servicesingle-title,body.rtl .wt-service-info li span,body.rtl .wt-service-details .wt-description,body.rtl .wt-freelancers-home,body.rtl .wt-companyinfo,body.rtl .wtblog-tags,body.rtl .wt-dropdown>span,body.rtl .wt-comments>h2,body.rtl .wt-articlesingle-content .wt-postarticlemeta li,body.rtl .wt-jobalerts .alert,body.rtl .wt-formtitle h4,body.rtl .woocommerce-info,body.rtl #ship-to-different-address span,#order_review_heading,body.rtl .woocommerce-billing-fields h3,body.rtl #ship-to-different-address label,body.rtl .woocommerce-order-details__title,body.rtl .woocommerce-column__title,body.rtl .cart-data-wrap h3,body.rtl .style-lable,body.rtl .style-name,body.rtl .woocommerce form .form-row,body.rtl .edit-account p,body.rtl .cart_totals.calculated_shipping h2,body.rtl .wc-proceed-to-checkout,body.rtl.woocommerce .woocommerce-breadcrumb,body.rtl .woocommerce-products-header,body.rtl ul.products li.product,body.rtl .woocommerce-page ul.products li.product,body.rtl .wt-popuptitle,body.rtl .wt-formpopup fieldset .wt-btnarea,.wt-joinnowfooter p{text-align:right}
body.rtl .wt-formbanner .wt-formoptions,body.rtl .wt-navigationarea .wt-loginformhold,body.rtl .wt-sidebar .wt-searchgbtn,body.rtl .wt-viewjobholder,body.rtl .wt-proposalamount .form-group a,body.rtl .wt-navigationarea .wt-userlogedin .wt-usernav,body.rtl .wtblog-tags a:after{left:0;right:auto}
body.rtl .wt-loginfooterinfo a+a:before,body.rtl .wt-navigationarea .children,body.rtl .wt-navigationarea .sub-menu,body.rtl .wt-navigationarea .mega-menu,body.rtl .wt-bannercontent .wt-formbanner .wt-radioholder,body.rtl .wt-sectiontitle:after,body.rtl .wt-formbannervtwo:after,body.rtl .wt-navigationarea .wt-formbannervtwo .wt-radioholder,body.rtl .wt-formsearch fieldset .wt-checkboxholder .wt-checkbox input[type=checkbox]+label:before,body.rtl .wt-formsearch fieldset .wt-checkboxholder .wt-checkbox input[type=checkbox]+label:after,body.rtl .wt-formsearch fieldset .wt-checkboxholder .wt-radio input[type=radio]+label:before,body.rtl .wt-bloglistingstyle li:before,body.rtl .wt-categoriesslider-holder .wt-title,body.rtl .wt-formaccordionhold .wt-radio input[type=radio]+label:before,body.rtl .wt-formaccordionhold .wt-checkbox input[type=checkbox]+label:before,body.rtl .wt-termsconditions .wt-checkbox input[type=checkbox]+label:before,body.rtl .wt-termsconditions .wt-checkbox input[type=checkbox]+label:after,body.rtl .wt-navigationarea .wt-userlogedin:before{right:0;left:auto}
body.rtl .wt-bannerimages{margin:0 -125px 0 0}
body.rtl .wt-navigationarea .wt-logininfo .wt-checkbox{margin:0 20px 0 0}
body.rtl .wt-navigationarea .wt-userimg{margin:0 0 0 10px}
body.rtl .wt-loginarea .wt-loginbtn{margin:0 0 0 20px}
body.rtl .wt-loginarea{border:0;padding:0 20px 0 0;margin:20px 6px 20px 0;border-right:1px solid #ddd}
body.rtl .wt-formbanner fieldset .form-group .form-control{padding:10px 30px 10px 300px}
body.rtl .wt-radioholder .wt-radio input[type=radio]+label{text-align:right;padding:0 20px 0 30px}
body.rtl .wt-radioholder .wt-radio input[type=radio]+label:after{right:auto;left:20px}
body.rtl .wt-dropdown>span{padding:0 30px 0 20px}
body.rtl .wt-formbanner .wt-dropdown{border:0;float:right;border-right:1px solid #ddd}
body.rtl .wt-formbanner .wt-searchbtn{border-radius:4px 0 0 4px}
body.rtl .wt-videoshow{margin:0 0 0 20px}
body.rtl .wt-appicon li+li{margin:0 30px 0 0}
body.rtl .wt-footerlogohold .wt-socialiconssimple li:first-child{padding:0 0 0 10px}
body.rtl .wt-footerlogohold .wt-socialiconssimple li:last-child{padding:0 10px 0 0}
body.rtl .wt-widgetcompany{border:0;padding:0 40px 0 0;border-right:1px solid rgba(255,255,255,0.20)}
body.rtl .wt-widgetcompany.footer-link-2{border:0}
body.rtl .wt-sectionhead.wt-textcenter{text-align:center}
body.rtl .wt-textcenter .wt-sectiontitle:after{left:50%;right:auto}
body.rtl .wt-addnav ul li:first-child{padding-right:0}
body.rtl .wt-footerbottom .wt-addnav ul li:last-child{padding-right:7px;padding-left:0}
body.rtl .wt-formbannervtwo{padding:0 30px 0 0;margin:13px 30px 13px 0}
body.rtl .wt-signupcontent{text-align:right;padding:80px 35px 80px 0}
body.rtl .wt-signupcontent .wt-btnarea a+a{margin:0 26px 0 0}
body.rtl .wt-formsearch fieldset .form-group .form-control{padding:10px 20px 10px 60px}
body.rtl .wt-sidebar .wt-searchgbtn{border:0;border-radius:5px 0 0 5px;border-right:1px solid #ddd}
body.rtl .wt-formsearch fieldset .wt-checkboxholder .wt-radio label,body.rtl .wt-formsearch fieldset .wt-checkboxholder .wt-checkbox label{padding:0 30px 0 0}
body.rtl .wt-formsearch fieldset .wt-checkboxholder .wt-checkbox label img{margin:0 0 0 5px}
body.rtl .wt-companysinfo .wt-postarticlemeta li:first-child{border:0;padding-right:0;padding-left:12px}
body.rtl .wt-companysinfo .wt-postarticlemeta li:last-child{padding-left:0;border-right:1px solid #adadad}
body.rtl .wt-formsearch fieldset .wt-checkboxholder .wt-radio input[type=radio]+label:after{top:5px;left:auto;right:5px}
body.rtl .wt-employer-single .wt-twocolumns .float-left{float:right!important}
body.rtl .wt-viewjobholder{border-left:0;border-right:1px solid #eee}
body.rtl .wt-viewjobholder ul li a i,body.rtl .wt-userlistingcontent .wt-viewjobholder ul li span i,body.rtl .wt-viewjobholder ul li>span>em{margin:0 0 0 5px}
body.rtl .wt-qrcodeimg{float:right;margin:0 0 0 20px}
body.rtl .wt-qrcodedetail{float:right;text-align:right}
body.rtl .wt-comfollowers ul li a>span:first-child{margin:0 0 0 10px}
body.rtl .widget_categories>ul>li{text-align:left}
body.rtl .wt-particlehold .wt-particlecontent{text-align:right;padding:0 20px 0 0}
body.rtl .wt-particlehold .wt-particlecontent span i{margin:0 0 0 3px}
body.rtl .wt-article .wt-postarticlemeta li{float:right}
body.rtl .wt-article .wt-postarticlemeta li:first-child{border:0;padding:0 0 0 12px}
body.rtl .wt-article .wt-postarticlemeta li{border-right:1px solid #adadad}
body.rtl .wt-article .wt-postarticlemeta li i{margin:0 0 0 5px}
body.rtl .wt-articlesingle-content .wt-postarticlemeta li:first-child{padding:0 0 0 15px;border:0}
body.rtl .wt-articlesingle-content .wt-postarticlemeta li i{margin:0 0 0 5px}
body.rtl .wt-articlesingle-content .wt-postarticlemeta .wtblog-tags i{margin:0}
body.rtl .wt-articlesingle-content .wt-postarticlemeta li:last-child{border-right:1px solid #adadad}
body.rtl .wt-bloglistingstyle li{padding:0 30px 0 0}
body.rtl .wt-blogdetailimgvtwo.wt-alignleft{float:right;margin:0 0 0 30px}
body.rtl .wt-blogdetailimgvtwo.wt-alignright{float:left;margin:0 30px 0 0}
body.rtl .wt-tagsshare .wt-tag span{padding:6px 5px 6px 0;margin:5px 5px 5px 15px}
body.rtl .wt-articlesingle-content .wt-description blockquote.wt-blockquotevone p{text-align:center}
body.rtl .wt-blogsocialicons li.wt-sharejob{float:right;padding:0 0 0 10px}
body.rtl .wt-blogsocialicons.wt-socialiconssimple li{float:right}
body.rtl .wt-blogsocialicons.wt-socialiconssimple li:last-child{padding:0 10px 0 0}
body.rtl .wt-author figure{float:right;margin:0 0 0 20px}
body.rtl .wt-boxleft{float:right;text-align:right}
body.rtl .wt-btnreply span{float:right;padding:0 0 0 10px}
body.rtl .wt-innerbannerholder .wt-breadcrumb li:first-child{padding:0 0 0 15px}
body.rtl .wt-innerbannerholder .wt-breadcrumb li:last-child{padding:0 15px 0 0}
body.rtl .wt-innerbannerholder .wt-breadcrumb li:after{left:auto;right:-3px}
body.rtl .wt-starthiringhold>.float-right{float:left!important}
body.rtl .wt-starthiringhold>.float-left{float:right!important}
body.rtl .wt-proposalholder .wt-btnarea{left:30px;right:auto}
body.rtl .wt-proposalhead{float:right;text-align:right}
body.rtl .wt-userlisting-breadcrumb li:first-child{padding:0 0 0 12px}
body.rtl .wt-userlisting-breadcrumb li span img,body.rtl .wt-userlisting-breadcrumb li span i{margin:0 0 0 5px}
body.rtl .wt-userlisting-breadcrumb li+li{border:0;border-right:1px solid #ddd}
body.rtl .wt-proposalsicon{border:0;margin:0 0 0 30px;padding:0 0 0 25px;border-left:1px solid #f2f2f2}
body.rtl .wt-attachfile li em i{text-align:left}
body.rtl .wt-proposalamount .form-group{padding:0 0 0 60px}
body.rtl .wt-proposalamount .form-group span{right:auto;left:80px}
body.rtl .wt-proposalamount .form-group input{padding:10px 20px 10px 60px}
body.rtl .wt-totalamount li span i{margin:0 5px 0 0}
body.rtl .wt-formcategory .form-group-label .wt-labelgroup>span{margin:0 25px 0 0}
body.rtl .wt-categoriesslider{padding:0 319px 0 0}
body.rtl .wt-categoriesslider-holder .wt-title{border-right:0;border-left:1px solid #ddd}
body.rtl .wt-categoryslidercontent figure{margin:0 0 0 15px !important;}
body.rtl .wt-userlistinghold .wt-userlistingimg{float:right;margin:0 0 21px 30px}
body.rtl .wt-featured .wt-featuredtag,body.rtl .wt-userprofileholder .wt-featuredtag{right:0;left:auto;border-right:0;border-top:40px solid #f1c40f;border-left:40px solid transparent}
body.rtl .wt-userprofileholder>.float-left{float:right!important}
body.rtl .wt-userprofileholder{padding:30px 30px 30px 0}
body.rtl .wt-profilecounter .wt-statisticcontent{text-align:center}
body.rtl .wt-profilecounter{border-left:0;border-right:1px solid #f2f2f2}
body.rtl .wt-freelancers-img{margin:0 0 0 15px!important}
body.rtl .wt-articles .wt-articlecontents .wt-datetime i,body.rtl .wt-userprofile .wt-title h3 i,body.rtl .wt-freelancers-rating ul li span i{margin:0 0 0 5px}
body.rtl .wt-bannerholdervtwo .wt-bannercontent{text-align:center}
body.rtl .wt-workdetails-border:after{-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH"}
body.rtl .wt-workdetails-bordertwo:before{right:-116px;left:auto;-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH"}
body.rtl .wt-slidericons{-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH";z-index:9}
body.rtl .wt-articlecontents .wt-moreoptions{text-align:left}
body.rtl .wt-articlecontents .wt-moreoptions li:last-child{padding-right:15px}
body.rtl .wt-titletags{margin-left:0;margin-right:-10px}
body.rtl .wt-titletags a:after{left:-4px;right:auto}
body.rtl .wt-featuredtagvtwo,body.rtl .wt-featured-service .wt-featuredtagvtwo{left:auto;right:-4px;border-radius:0 3px 0 6px}
body.rtl .wt-featuredtagvtwo:after{right:0;left:auto;-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH"}
body.rtl .wt-clicksavearea .wt-clicksavebtn i{margin:0 0 0 7px}
body.rtl .sticky-queue i{margin:0 0 0 20px}
body.rtl .sticky-queue .jf-alert{padding:20px 20px 20px 50px;text-align:right}
body.rtl .sticky-queue .jf-close{right:auto;left:10px}
body.rtl .sticky-queue .jf-close i{margin:0}
body.rtl .wt-joinsteps li{float:right}
body.rtl .wt-joinsteps li+li:after{left:auto;right:-32px}
body.rtl .wt-form-group-dropdown .form-control{padding:10px 113px 10px 10px}
body.rtl .wt-form-group-dropdown .wt-select{left:auto;right:5px}
body.rtl .wt-form-group-dropdown .wt-select select{border-radius:0 4px 4px 0}
body.rtl .wt-select:after,body.rtl .chosen-container-single:after,body.rtl .chosen-container-multi:after{right:auto;left:15px}
body.rtl .wt-formaccordionhold .wt-radio input[type=radio]+label,body.rtl .wt-formaccordionhold .wt-checkbox input[type=checkbox]+label{padding:0 30px 0 0}
body.rtl .wt-formaccordionhold .wt-radio input[type=radio]+label:after{top:5px;left:auto;right:5px}
body.rtl .wt-formaccordionhold .wt-accordiontitle .wt-radio label{padding:17px 30px 17px 20px!important}
body.rtl .wt-formaccordionhold .wt-accordiontitle .wt-radio input[type=radio]+label:after{top:50%}
body.rtl .wt-termsconditions .wt-checkboxholder .wt-checkbox input[type=checkbox]+label{text-align:right;padding:0 30px 0 0}
body.rtl .wt-formregister-step-two .wt-termsconditions .wt-checkboxholder .wt-btn+.wt-btn{margin:0 30px 0 0}
body.rtl .wt-navigation>ul>li.menu-item-has-children .children li .children,body.rtl .wt-navigation>ul>li.page_item_has_children .children li .children,body.rtl .wt-navigation>ul>li.menu-item-has-children .sub-menu li .sub-menu,body.rtl .wt-navigation>ul>li.page_item_has_children .sub-menu li .sub-menu{right:auto}
body.rtl .wt-usernav ul li.menu-item-has-children:after,body.rtl .wt-usernav ul li.page_item_has_children:after{left:20px;right:auto;content:'\e875'}
body.rtl .wt-navigationarea .wt-userlogedin .wt-usernav ul li .sub-menu{right:auto;left:100%}
body.rtl .wt-navigationarea .wt-userlogedin .wt-usernav ul li .sub-menu{border-radius:0 4px 4px 0}
body.rtl .wt-sidebarwrapper .mCS-dir-rtl>.mCSB_inside>.mCSB_container{margin:0}
body.rtl .wt-navigationarea .sub-menu li.menu-item-has-children>a:before,body.rtl .wt-navigationarea .children li.menu-item-has-children>a:before,body.rtl .wt-navigationarea .sub-menu li.page_item_has_children>a:before,body.rtl .wt-navigationarea .children li.page_item_has_children>a:before{left:20px;right:auto;content:'\e875'}
body.rtl .wt-navigation>ul>li.menu-item-has-children .children li .children.menu-item-moved li:first-child,body.rtl .wt-navigation>ul>li.page_item_has_children .children li .children.menu-item-moved li:first-child,body.rtl .wt-navigation>ul>li.menu-item-has-children .sub-menu li .sub-menu.menu-item-moved li:first-child,body.rtl .wt-navigation>ul>li.page_item_has_children .sub-menu li .sub-menu.menu-item-moved li:first-child{border-radius:0 4px 0 0}
body.rtl .wt-navigation>ul>li.menu-item-has-children .children li .children.menu-item-moved li:last-child,body.rtl .wt-navigation>ul>li.page_item_has_children .children li .children.menu-item-moved li:last-child,body.rtl .wt-navigation>ul>li.menu-item-has-children .sub-menu li .sub-menu.menu-item-moved li:last-child,body.rtl .wt-navigation>ul>li.page_item_has_children .sub-menu li .sub-menu.menu-item-moved li:last-child{border-radius:0 0 4px 0}
body.rtl .wt-navigation>ul>li.menu-item-has-children .children li .children.menu-item-moved,body.rtl .wt-navigation>ul>li.page_item_has_children .children li .children.menu-item-moved,body.rtl .wt-navigation>ul>li.menu-item-has-children .sub-menu li .sub-menu.menu-item-moved,body.rtl .wt-navigation>ul>li.page_item_has_children .sub-menu li .sub-menu.menu-item-moved{border-radius:0 4px 4px 0}
body.rtl .wt-service-tag{margin:0 -7px 12px 0}
body.rtl .wt-bannerslider-two:after,body.rtl .wt-ratingcontent:after{-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH"}
body.rtl .wt-service-info li span i{float:right;margin:0 0 0 10px}
body.rtl .wt-servicesingle-title .wt-userlisting-breadcrumb li .wt-clicksave i{margin:0 0 0 5px}
body.rtl .user-stars-v2 span.wt-stars span:after{left:auto;right:-4px}
body.rtl .wt-dropdowarrow{left:15px;right:auto}
body.rtl .wt-dropdowarrow i:before{content:"\e875"}
body.rtl .wt-open>.wt-dropdowarrow>i:before{content:'\e874'}
body.rtl .wt-formreport .wt-select select{padding:10px 20px 10px 40px}
body.rtl .wt-comments li .children,body.rtl .wt-comments li .sub-menu{padding:0 95px 0 0}
body.rtl .wt-formproposal .form-group .wt-select select{padding-right:20px;padding-left:40px}
body.rtl .wt-userlistingsingle .wt-userlisting-breadcrumb .user-stars-v2 span.wt-stars span{float:right}
body.rtl .wt-jobalerts .alert{padding:5px 20px 5px 50px}
body.rtl .wt-alertbtn{float:left}
body.rtl .wt-jobalerts .alert .close{right:auto;left:0}
body.rtl.woocommerce ul.products li.product .button.added:after{margin-left:.53em;margin-right:0}
body.rtl.woocommerce div.product .woocommerce-tabs ul.tabs,body.rtl.woocommerce div.product .woocommerce-tabs .panel,body.rtl .related.products h2,body.rtl.woocommerce-page div.product div.entry-summary{text-align:right}
body.rtl.woocommerce #review_form .comment-form-rating p.stars{float:right}
body.rtl.woocommerce .product .entry-summary>.price{float:left}
body.rtl.header-variation-two .wt-header .wt-iconwithtext li+li{margin-left:0;margin-right:7px}
body.rtl.header-variation-two .wt-header .wt-loginoptionvtwo .wt-btn{margin:0 0 0 6px}
body.rtl.header-variation-two .wt-header .wt-iconwithtext li a i{border:0;border-left:1px solid rgba(255,255,255,0.40)}
body.rtl .wt-appicons li+li{margin-left:0;margin-right:27px}
body.rtl .wt-moreoptions li{padding-right:0}
body.rtl .do-login-form .wt-logininfo .wt-checkbox input[type=checkbox]+label{padding:0 30px 0 0}
body.rtl .do-login-form .wt-logininfo .wt-checkbox input[type=checkbox]+label:before,body.rtl .do-login-form .wt-logininfo .wt-checkbox input[type=checkbox]+label:after{right:0;left:auto}
body.rtl .do-login-form .wt-logininfo .wt-checkbox input[type=checkbox]+label:after{right:1px}
body.rtl .wt-registerformmain .wt-joinsteps li{float:none}
body.rtl .wt-iconwithtext li+li{margin-left:0;margin-right:7px}
body.rtl .wt-iconwithtext li a i{border-right:0;border-left:1px solid rgba(255,255,255,0.40)}
body.rtl .wt-bannerslider-two{margin:-267px 255px 0 -155px}
body.rtl .wt-bannerimg img{float:left}
body.rtl .wt-loginoptionvtwo .wt-btn{margin:0 0 0 6px}
body.rtl .wt-headervfour .wt-loginarea{border:0;padding:0;margin:30px 0}
body.rtl .wt-headervfour .wt-headersearch{float:left;margin:26px 7px 26px 0}
body.rtl .wt-headervfour .wt-nav{float:right;padding-left:0;padding-right:260px}
body.rtl .wt-headervfour .wt-navigation{float:right}
body.rtl .wt-bannerslider-two:after{left:0}
body.rtl .wt-bannerholderthree .wt-bannercontent{text-align:right}
body.rtl .wt-bannerholderthree .wt-bannercontent .wt-description{padding:0 0 0 50px}
body.rtl .wt-headervfour .wt-navigationarea .wt-userlogedin{padding:29px 20px 29px 0}
.wt-userlistingholdvtwo .wt-userlistingcontent .wt-viewjobholder{
    margin-right: auto;
    margin-left: -30px;
}
.wt-userlistingholdvtwo .wt-userlistingcontent .wt-contenthead{
	padding-right: 0;
    padding-left: 20px;
}
.service-detail-map address,
.wt-title,
.wt-mobileimg{text-align: right; }
.wt-get-direction-link{
	display: block;
    text-align: right;
}
.wt-moreoptions li a i{
	margin-right: 0;
	margin-left: 5px;
}
.wt-moreoptions li > i{
	float: right;
	line-height: inherit;
	margin-left: 5px;
}
.option-with-flag.highlighted, .option-with-flag{
	padding-right: 38px!important;
	padding-left: 15px!important; 
	background-position: right 10px bottom 13px !important;
}
.wt-service-details .wt-description ul li{
	padding-left: 0;
	padding-right: 30px;
}
.wt-service-details .wt-description ul li:before{
	right: 0;
	left: auto;
}
.wt-latestjob-logo+.wt-latestjob-title{
    width: initial;
    flex: initial;
    margin-right: 20px;
    margin-left: 0;
    text-align: right;
 }
 .wt-formleavecomment fieldset .form-group{float: right;}
 .wt-overallrating{
 	left: auto;
    right: 100%;
    text-align: right;
 }
 .wt-overallrating:before{
 	right: auto;
 	left: 100%;
	border-left: 7px solid #fff;
	border-right: 0;
 }
 .wt-overallratingarea>i{
	margin-left: 0;
	margin-right: 5px;
 }
 body.rtl .wt-userlistingsingle .wt-userlistingimg{margin: 0 0 0 30px;}
 .wt-btntext{text-align: left;}
 body.rtl .wt-overallrating .wt-servicesrating li{padding: 10px;}
  body.rtl .wt-overallrating .wt-servicesrating li+li{
  	border: 0;
  	border-top: 1px solid #ddd;
  }
 .wt-servicesrating .wt-stars{float: right;}
 body.rtl .wt-chatpopup{
	right: auto;
	left: 30px;
}
body.rtl .wt-header .wt-navigation>ul>.page_item_has_children,body.rtl .wt-header .wt-navigation>ul>.menu-item-has-children{padding:0 0 0 10px}
.wt-teamholder,
body.rtl .wt-teamfilter .wt-sectionhead{float: right;}
@media(max-width:1440px){body.rtl .wt-search-have.show-sform .wt-formbannervtwo{left:15px;right:auto}
body.rtl .wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group{float:right}
body.rtl .wt-btn-remove-holder{float:left;margin:0 30px 0 0}
body.rtl .wt-respsonsive-search{margin:20px 6px 20px 14px}
body.rtl .wt-headereleven .wt-respsonsive-search {
    margin: 30px 6px 30px 14px;
}
body.rtl .wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group .form-control{padding:10px 30px 10px 470px}
}@media(max-width:1280px){body.rtl .wt-headervfour .wt-nav{padding-right:30px}
}@media(max-width:1199px){.wt-userlistingholdvtwo .wt-userlistingcontent .wt-viewjobholder{margin-left: 0;}.wt-userlistingholdvtwo .wt-userlistingcontent .wt-contenthead{padding-left: 0;}body.rtl .wt-bannerslider-two{margin:0}
body.rtl .wt-topfreelancers{text-align:right}
body.rtl .wt-userprofileholder{padding:30px}
body.rtl .wt-profilecounter{border-right:0}
body.rtl .wt-userlisting .wt-widgettag a{float:none}
body.rtl .wt-userlisting .wt-userlistingimg{float:none;margin:0 auto 20px}
body.rtl .wt-userlisting .wt-userlistingcontent .wt-userlisting-breadcrumb li,body.rtl .wt-userlisting .wt-contenthead .wt-userlisting-breadcrumb li,body.rtl .wt-userlisting .wt-contenthead,body.rtl .wt-userlisting .wt-description{text-align:center}
body.rtl .wt-proposalholder .wt-btnarea{float:right}
body.rtl .wt-viewjobholder{border-right:0}
body.rtl .wt-fbtnarea{float:right}
}@media(max-width:1080px){body.rtl .wt-categoryslidercontent figure{float:none;margin:0 auto 10px !important}
body.rtl .wt-categoryslidercontent .wt-cattitle{text-align:center}
body.rtl .wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group .form-control{padding-left:400px}
}@media(max-width:991px){
	body.rtl .wt-header .wt-navigation>ul>.page_item_has_children, body.rtl .wt-header .wt-navigation>ul>.menu-item-has-children{padding: 0;}
	body.rtl .wt-userprofileholder .wt-proposalhead{text-align:center}body.rtl .wt-headereleven .wt-respsonsive-search {margin: 30px 20px 30px 0;}body.rtl .wt-headereleven .wt-userlogedin {margin-left: 0;margin-right: 20px;}body.rtl .wt-headervfour .wt-nav{float:left}
body.rtl .wt-headervfour .wt-nav .navbar-toggler{float:left;margin:30px 10px 30px 20px}
body.rtl .wt-bannerholderthree .wt-bannercontent .wt-description{padding:0}
body.rtl .wt-articlesholder{text-align:right;margin:0 0 0 -2px}
body.rtl .wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group .form-control{padding-left:280px}
body.rtl .wt-appavailable{display:none}
body.rtl .wt-rightarea .wt-nav .navbar-toggler{margin-right:0;margin-left:15px}
}@media(max-width:768px){body.rtl .wt-formbanner fieldset .form-group .form-control{padding-left:30px}
body.rtl .wt-bannerholdervtwo .wt-formoptions .wt-dropdown{border:0;padding:0 0 0 170px}
body.rtl .wt-bannerholdervtwo .wt-formoptions>.wt-searchbtn{left:0;right:auto;border-radius:0 0 0 4px}
}@media(max-width:767px){body.rtl .wt-categoriesslider{padding:0 250px 0 0}
body.rtl .wt-totalamount li span{float:none}
body.rtl .wt-comments li .children,body.rtl .wt-comments li .sub-menu{padding:0 25px 0 0}
body.rtl .wt-search-have.show-sform .wt-formbannervtwo{left:0}
body.rtl .wt-btn-remove-holder{left:0;right:auto}
body.rtl .wt-search-have.show-sform .wt-formbannervtwo fieldset{padding:0 0 0 30px}
body.rtl .wt-search-have.show-sform .wt-formbannervtwo .wt-searchbtn{left:0;right:auto}
body.rtl .wt-widgetcompany{padding:0;border-right:0}
}@media(max-width:640px){body.rtl .wt-headervfour .wt-nav .navbar-toggler{margin:23px 10px 23px 20px}
body.rtl .wt-headervfour .wt-nav{padding:0;float:right}
body.rtl .wt-headervfour .wt-headersearch .wt-loginformhold{right:0;left:auto}
body.rtl .wt-headervfour .wt-headersearch{margin:20px 0}
body.rtl .wt-headervfour .wt-navigationarea .wt-userlogedin{padding:20px 0}
body.rtl .wt-headervfour .wt-nav{padding:0}
body.rtl .wt-rightarea .wt-nav,body.rtl .wt-respsonsive-search{float:right}
body.rtl .wt-loginarea{border:0}
}@media(max-width:575px){body.rtl .wt-categoriesslider{padding:0}
}@media(max-width:568px){body.rtl .wt-formbanner .wt-dropdown{border:0}
body.rtl .wt-innerbannerholder .wt-breadcrumb li{float:none}
body.rtl .wt-formoptions .wt-dropdown{padding:0 0 0 60px}
body.rtl .wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group .form-control{padding-left:30px}
}@media(max-width:480px){.wt-latestjob-logo+.wt-latestjob-title{margin: 17px 0 0;}body.rtl .wt-appicons li+li{margin-right:0}
body.rtl .wt-navigationarea .wt-userlogedin .wt-usernav ul li .sub-menu{left:0}
body.rtl .wt-formregister-step-two .wt-termsconditions .wt-checkboxholder .wt-btn+.wt-btn{clear:both;margin:10px 0 0}
body.rtl .wt-formaccordionhold .wt-accordiontitle .wt-radio label{padding:17px 30px 17px 0!important}
body.rtl .wt-joinsteps li+li:after{right:-15px}
body.rtl .wt-userprofileholder .wt-proposalhead .wt-userlisting-breadcrumbvtwo li{text-align:center;padding: 0;}
body.rtl .wt-proposalsicon{border:0;padding:0 0 20px;margin:0 0 20px;border-bottom:1px solid #ddd}
body.rtl .wt-proposalsicon + .wt-title{width: 100%;}
body.rtl .wt-userlisting-breadcrumb li{text-align:right}
body.rtl .wt-userlisting-breadcrumb li+li{border:0}
body.rtl .wt-articlesingle-content .wt-postarticlemeta li:last-child{border:0}
body.rtl .wt-signupcontent{padding-right:0}
body.rtl .wt-signupcontent .wt-btnarea a+a{margin:20px 0 0}
body.rtl .wt-userlistingholder .wt-pagination ul li{float:right}
body.rtl .wt-logininfo .wt-checkbox label{width:auto;float:right}
body.rtl .wt-navigationarea .wt-logininfo .wt-checkbox{margin:0}
body.rtl .wt-navigationarea .wt-loginformhold{left:-110px}
}@media(max-width:420px){body.rtl .wt-chatpopup{left: 10px;}body.rtl .wt-bannerholdervtwo .wt-formoptions .wt-dropdown{padding:0}
body.rtl .wt-search-have.show-sform .wt-formbannervtwo fieldset{padding:0 0 0 20px}
body.rtl .wt-userlistingsingle .wt-userlistingimg{float:none;margin:0 auto 30px}
body.rtl .wt-userlisting-breadcrumb li:first-child{padding-left:0}
body.rtl .wt-clientfeedback .wt-userlistingcontent .wt-userlisting-breadcrumb li,body.rtl .wt-clientfeedback .wt-userlistingsingle .wt-description,body.rtl .wt-clientfeedback .wt-userlistingcontent .wt-contenthead{text-align:center}
body.rtl .wt-articlecontent .wt-postarticlemeta li+li{border:0;margin-top:10px;padding-right:0}
body.rtl .wt-articlecontent .wt-postarticlemeta li{text-align:right}
}@media(max-width:375px){body.registration-enabled.rtl .wt-headereleven.wt-search-have .wt-respsonsive-search{right: auto; left: 15px;}body.rtl .wt-headervfour .wt-nav .navbar-toggler{margin:3px 10px 3px 0}
body.rtl .wt-headervfour .wt-headersearch{margin:0}
body.rtl .wt-headervfour .wt-navigationarea .wt-userlogedin{padding:0 10px 15px 0}
body.rtl .wt-navigationarea .wt-userlogedin{padding:0 10px 15px 0}
body.rtl .wt-qrcodeimg{margin:0 0 10px}
body.registration-enabled.rtl .wt-navigationarea .wt-logo{float:right;}
body.rtl .wt-companysinfo .wt-postarticlemeta li:last-child{border-right:0;padding-right:0}
body.registration-enabled.rtl .wt-search-have .wt-respsonsive-search{right:auto;left:0}
body.registration-enabled.rtl .wt-loginarea{margin:0;padding:0}
body.registration-enabled.rtl .wt-loginarea{margin-left:0}
}body.rtl .preloader-customloader,body.rtl .wt-preloader-holder{right:50%;left:auto;margin: -15px -15px 0 0}
body.rtl .show-sform .wt-navigationarea{background:#FFF}
body.rtl .wt-workprocess>div>div:nth-child(2) .wt-workdetails-border:after{left:auto;right:-116px}
body.rtl .mega-menu .mega-menu-row>.mega-menu-col>a{padding:0 20px 0 0!important}
body.rtl .mega-menu .mega-menu-row>.mega-menu-col>a:before{left:auto;right:0!important}
body.rtl .mega-menu .mega-menu-row>.mega-menu-col a:before{right:0;left:auto}
body.rtl .mega-menu .mega-menu-row>.mega-menu-col a.fa{padding:5px 20px 5px 0}
body.rtl .mega-menu .mega-menu-row>.mega-menu-col+.mega-menu-col{border-left:0!important;border-right:1px solid #ddd!important}
body.rtl .wt-header .wt-navigation>ul>.page_item_has_children:after,body.rtl .wt-header .wt-navigation>ul>.menu-item-has-children:after{left:0;right:auto}
body.rtl .menu-item-has-mega-menu>a:before{float:right;margin-left:10px;margin-right:0}
body.rtl .wt-userprofile .wt-title h1 i,body.rtl .wt-userprofile .wt-title h3 i{margin-right:0;margin-left:5px}
body.rtl #confirmBox .button+.button{margin:0 20px 0 0}
body.rtl .wt-companysinfo .wt-postarticlemeta li{float:none}
body.rtl .wt-navigationarea .wt-username .wtunread-count,
body.rtl .wtunread-count{right:auto;left:10px}
body.rtl .wt-addnew a{float:left}
body.rtl .wt-formprojectinfo .wt-attachfile em a{float:left;line-height:38px;margin:0 10px 0 0}
body.rtl .wt-formfeedback fieldset .form-group p,body.rtl .wt-formfeedback fieldset .form-group.wt-btnarea,body.rtl .wt-boxtitle h2{text-align:right}
body.rtl .wt-boxtitle h2 i{float:left}
body.rtl .wt-userlistingvtwo .wt-userlistingcontent .wt-btnarea .wt-btn+.wt-btn{margin:0 5px 0 0}
body.rtl .wt-videos-item .form-group input{padding:10px 20px 10px 90px}
body.rtl .wt-videos-item .wt-accordioninnertitle .wt-rightarea{right:auto;left:20px}
body.rtl .wt-replaybox .form-control,
body.rtl .emojionearea .emojionearea-editor:empty:before{float:right !important;}
body.rtl .emojionearea .emojionearea-button{left:0 !important;right: auto !important;}
body.rtl .wt-replaybox .emojionearea .emojionearea-editor{
	direction: rtl;
	text-align:right;
	padding: 6px 12px 6px 24px;
}
body.rtl .emojionearea .emojionearea-picker.emojionearea-picker-position-top{right: auto;left: -14px;}
body.rtl .show-mobile-filter .wt-filter-scroll{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0)}
body.rtl .wt-mobile-close{right:auto;left:360px}
body.rtl .wt-headernine .wt-logo{margin:0;margin-left:30px;padding:26px 5px 26px 30px;border-left:1px solid rgba(255,255,255,0.2);border-right:0}
body.rtl .workreap-header-v4 .wt-headersearch,body.rtl .workreap-header-v4 .wt-nav{float:right}
body.rtl .workreap-header-v4 .wt-headersearch{float:right;margin:18px 3px 18px 0}
body.rtl .menu-item-has-icon>a:before{margin-right:0;margin-left:10px}
body.rtl .wt-formlogin .form-group.wt-btnarea>span{float:left;padding-left:0;text-align:right;padding-right:30px}
body.rtl .wt-formlogin .form-group .wt-checkbox label{padding:0 30px 0 0}
body.rtl .wt-formlogin .wt-checkbox input[type=checkbox]+label:after,body.rtl .wt-formlogin .wt-checkbox input[type=checkbox]+label:before{right:0;left:auto}
body.rtl .wt-popuptitle .wt-closebtn{right:auto;left:30px}
body.rtl .wt-modalcontentvtwo .modal-footer .wt-loginfooterinfo a,body.rtl .wt-loginicon ul li{float:right}
body.rtl .wt-modalcontentvtwo .modal-footer .wt-loginfooterinfo a+a{border-left:0;border-right:1px solid #eee}
body.rtl.modal-open .modal{padding:0!important}
body.rtl .wt-loginicon a{text-align:right}
body.rtl .wt-loginicon a i{float:right;margin-right:0;margin-left:10px}
body.rtl .wt-logininfo .wt-btn{text-align:right}
body.rtl .wt-joinnowholder .wt-iconwithtext li a{padding-right:0;padding-left:20px}
body.rtl .wt-joinnowholder .wt-iconwithtext li a i{margin-right:0;margin-left:10px}
.wt-headervthhree .wt-rightarea .wt-loginarea{padding:0 17px 0 0}
body.rtl .wt-headeroptions .wt-userlogedin{padding:0;padding-right:20px}
body.rtl .workreap-header-v4 .wt-nav .navbar-toggler{margin-left:15px;margin-right:0}
body.rtl .wt-formsearch fieldset .form-group .wt-searchgbtn{left:0;right:auto;border-left:0;border-radius:5px 0 0 5px;border-right:1px solid #ddd}
body.rtl .dc-docsearch{float:left}
body.rtl .dc-docsearch span:last-child{margin-left:0;margin-right:20px}
body.rtl .wt-taskmodal-steptwo .post-job-detail .chosen-container-multi{padding:4px 10px;padding-left:40px}
body.rtl .wt-popupactionbtn .wt-btn{float:left}
body.rtl .wt-popupactionbtn .wt-btn.wt-btnback{float:right}
body.rtl .wt-tabscontenttitle h2{float:right}
body.rtl .wt-tabscontenttitle:before{left:auto;right:0}
body.rtl .wt-tabscontenttitle .wt-rightarea .wt-on-off{margin:0 10px 0 0;float:left!important}
body.rtl .wt-formcategory .form-group.form-group-label label{margin-right:0;margin-left:30px}
body.rtl .wt-selecticon+input[type="text"]{padding-left:20px;padding-right:70px}
body.rtl .wt-selecticon{border-right:0;border-left:1px solid #ddd;left:auto;right:0}
body.rtl .wt-popupradio h5{float:right;margin:0 0 0 15px}
body.rtl .wt-popupradio .wt-radio{float:right}
body.rtl .wt-startsearch .locate-me-wrap a.geolocate{right:auto;left:30px}
body.rtl .wt-startsearch .locate-me-wrap .geodistance{right:auto;left:15px}
body.rtl .wt-startsearch .locate-me-wrap #location-address{padding-left:50px;padding-right:20px}
body.rtl .geodistance_range{text-align:right}


.wt-freelancer:before{
	right: auto;
	left: 0;
}
.wt-freelancer{text-align: right;}
.wt-freelancer-img{
	float: right;
	border-radius: 4px 0 0 4px;
}
.wt-freelancer-img img{border-radius: 4px 0 0 4px;}
.wt-freelancer-price{float: right;}
.wt-freelancer-price span i{margin: 0 0 0 8px}
.wt-freelancer-social a:nth-last-child(n+2):after{right: auto;left: -4px;}
.wt-freelancer-footer li em{margin-right: 0;margin-left: 5px;}
.wt-freelancer-footer li i{margin-right: 10px;margin-left: 10px;}
.wt-rating{
	float: right;
	margin-left: 0;
	margin-right: 10px;
}

.wt-package-content em i,
.wt-joininfotwonew .wt-formnewslettervtwo{float:left}
.wt-widgettag a,
.wt-joininfotwo-img,
.wt-bannerthree-form{float:right}
.jb-package-feature,
.wt-categories-holder,
.wt-widgetcontent,
.wt-pricerange-group .wt-amountbox input{text-align: right;}
.jb-package-feature li:before,
.wt-bannerthree-title>span:after{
    left: auto;
    right: 0;
}
.jb-package-feature li:before{margin-right: 0;margin-left: 4px;}
body.rtl .wt-headereleven .wt-loginarea{
    border: 0;
    padding: 0;
    margin: 30px 17px 30px 0;
}
.wt-headereleven .wt-navigation ul li .sub-menu li a{
    padding-left: 50px;
    padding-right: 20px;
}
.wt-headereleven .wt-navigation>ul>li>.sub-menu:before{
    left: auto;
    right: 30px;
}
 .wt-homeseven-img{margin-left: -276px!important;}
 .wt-latestjob-right{
    text-align: left;
    margin-left: 0;
    margin-right: auto;
 }
 .wt-latestjob-footer .wt-btnarea{
    margin-right: auto;
    margin-left: 0;
 }
 .wt-latestjob-footer .wt-widgettag{
    padding-right: 0;
    padding-left: 15px;
 }
 .wt-latestjob-footer .wt-btnarea a+a{
    margin-right: 10px;
    margin-left: 0;
 }
 .jb-package-feature li{
    padding-left: 0;
    padding-right: 7px;
 }
 .wt-joininfotwo .wt-formnewslettervtwo .form-group .form-control{
    padding-left: 180px;
    padding-right: 20px;
 }
 .wt-joininfotwo .wt-formnewslettervtwo .wt-btn{
    right: auto;
    left: 0;
    border-radius: 4px 0 0 4px;
}
body.rtl .wt-dropdown>span{padding: 0 20px;}
body.rtl .wt-bannercontentseven .wt-formbanner fieldset .form-group .form-control{padding-right: 20px;padding-left: 450px;}
.wt-viewjobholder ul li img{margin-right: 0;margin-left: 10px;}
.wt-bannertitletwo .wt-breadcrumb{text-align: right}
.filter-byhead{text-align: right;}
.wt-latestjob-title h4 a{white-space: initial;}
.wt-mobapp-wrap{text-align: right;}
.wt-mobapp-listing li span{
	padding-left: 0;
	padding-right: 20px;
}
.wt-mobapp-listing li span:before{left: auto;right: 0;}
.wt-mobapp-btns a:nth-last-child(n+2){
	margin-left: 16px;
	margin-right: 0;
}
.wt-appbtn i:after{border-radius: 100% 0 0 100%;}
.wt-bannercontent-wrap{
   left: auto;
   right: 0;
   margin-right: 270px;
   margin-left: 0;
}
.wt-bannerthree-title{
   padding-right: 60px;
   padding-left: 0;
   text-align: right;
}
.wt-home-slider{
   left: auto;
   right: 40px;
   clip-path: polygon(0 0,100% 0,100% 72.4%,0 100%);
}
.wt-bannerholdervthree:before{
   right: auto;
   left: -40px;
   background: linear-gradient(to left,rgba(251,222,68,1) 0,rgba(144,19,254,0.97) 100%);
   clip-path: polygon(0 0,100% 0,100% 80%,0 95%);
}
.wt-footertwo{
   padding-left: 40px;
   padding-right: 0;
}
.wt-footertwo:before{
   left: auto;
   right: 0;
   transform: rotate(180deg) scaleX(-1);
}
.wt-footertwo:after{
   right: -40px;
   left: 0;
   background: linear-gradient(to left,rgba(251,222,68,1) 0,rgba(144,19,254,0.97) 100%);
   clip-path: polygon(0 25%,100% 9%,100% 100%,0 100%);
}
.wt-footer-bg{
   right: -40px;
   left: auto;
   clip-path: polygon(0 35.6%,100% 0,100% 100%,0 100%);
}
.wt-footer-bg:before{
   right: 0;
   left: auto;
   background: linear-gradient(to left,rgba(144,19,254,0.4) 0,rgba(251,222,68,0.4) 100%);
   clip-path: polygon(0 25%,100% 0,100% 100%,0 100%);
   background-color: rgba(34,34,34,0.5);
}
.wt-footer-bg:after{
   right: 0;
   left: auto;
   background: linear-gradient(to left,rgba(0,0,0,1) 0,rgba(0,0,0,0) 100%);
}
.wt-bannerholdervthree:after{transform: scaleX(-1);}
body.rtl .wt-bannercontentseven .wt-formbanner{padding: 15px;}
.wt-bannercontentseven .wt-searchbtn i{
   margin-left: 8px;
   margin-right: 0;
}
.wt-bannertitletwo{
   text-align: right;
   border-right: 3px solid #fff;
   border-left: 0;
	padding: 0 30px 0 0;
}
.wt-headereleven .wt-username .wtunread-count+h3{
	padding-right: 0;
	padding-left: 25px;
}
body.rtl .wt-headereleven .wt-formbannervtwo{margin: 23px 30px 23px 0;}
.wt-headereleven{
	padding-right: 40px;
	padding-left: 0;
}
.wt-headerelevenb{padding: 0;}
.wt-categoryvthree li:nth-child(4)>div, .wt-categoryvthree li:nth-child(4){border-radius: 10px 0 0 0;}
.wt-categoryvthree li:first-child>div, .wt-categoryvthree li:first-child {border-radius: 0 10px 0 0;}
.wt-categoryvthree li.wt-morecategory{border-radius: 0 0 0 10px;}
.wt-categoryvthree li:nth-child(5), .wt-categoryvthree li:nth-child(5)>div{
	border-radius: 0 0 10px 0;
}
.wt-categories-navbar ul li{text-align: right;}
.wt-userlisting-breadcrumb li span img,
.wt-userlisting-breadcrumb li .wt-clicksave i,
.wt-userlisting-breadcrumb li span i{margin-right: 0;margin-left: 5px; }
.wt-footerthree{padding-left: 0;}
.wt-widgettitle h2 span{
	margin-left: 0;
	margin-right: 7px;  
}
.wt-userdropdown{
	right: auto;
	left: -6px;
}
.wt-filtertag li{float: right;}
.wt-filtertag li+li {
    margin-left: 0;
    margin-right: 5px;
}
.wt-filterholder-two li+li, .wt-filterholder-three li+li {
    margin-left: 0;
    margin-right: 10px;
}
.wt-userprofile{
	padding-right: 0;
    padding-left: 15px;
}
.wt-userdetails{
	padding: 0 15px 0 30px;
}
.wt-addonstwo .wt-addonservices-content ul li{
	text-align: right;
}
.wt-addonstwo .wt-addonservices-content ul li .wt-checkbox label{
	padding: 16px 30px 0 60px;
}
.wt-addonstwo .wt-addonservices-content .wt-checkbox input[type=checkbox]+label:before,
.wt-addonstwo .wt-addonservices-content .wt-checkbox input[type=checkbox]+label:after{left: auto;right: 0;}
.wt-addonstwo .wt-addonservices-content .wt-checkbox input[type=checkbox]+label strong{right: auto;left: 0;}
body.rtl .wt-ratingcontent:after{right: auto;left: 30px;}
.wt-formtitlethree h3{text-align: right;}
.wt-joinnowfooter-wrap{
	right: -15px;
	left: auto;
}
.wt-joinnow-form .wt-btnarea .wt-checkbox{text-align: right;}
.wt-joinnow-form .wt-checkbox input[type=checkbox]+label{
	padding: 0 20px 0 0;
}
.wt-joinnow-form .wt-checkbox input[type=checkbox]+label:before,
.wt-joinnow-form .wt-checkbox input[type=checkbox]+label:after{
	left: auto;
	right: 0;
}
.wt-eyeicon .form-control{padding-left:55px;padding-right: 20px; }
.wt-eyeicon>a{right: auto;left: 25px;}
.wt-joinnow-img{border-radius: 0 4px 4px 0; }
.wt-joinnowpopup .wt-closebtn{right: auto;left: 30px;}
.wt-joinnow-form .wt-btnarea .wt-btn i{float: right;}
.wt-joinnowfooter{border-radius: 0 0 0 4px;}
.wt-checkbox-wrap .wt-radio{
	margin-left: 0;
	text-align: right;
	margin-right: 20px;
}
.wt-joinnow-form fieldset .form-group{
	float: right;
}
.wt-joinnow-form .wt-radio input[type=radio]+label{padding: 0 20px 0 0;}
.wt-joinnow-form .wt-radio input[type=radio] +label:before{
	right: 0;
	left: auto;
}
.wt-joinnow-form .wt-radio input[type=radio] +label:after{
	right: 5px;
	left: auto;
}
.wt-pagination ul li.wt-prevpage{float: right;margin: 0 0 0 3px;}
.wt-pagination ul li.wt-nextpage{float: left;margin: 0 3px 0 0;}
.wt-nav+.wt-userlogedin.sp-top-menu {
	margin-left: 0;
    margin-right: 15px;
}
.wt-companysinfo{text-align: center;}
.verification-tags img{
	margin-left: 5px;
	margin-right: 0;
}
.wt-socials-profile .wt-userform .wt-inputwithicon i{
	left: auto;
	right: 5px;
	border-left: 1px solid #dbdbdb;
	border-right:0;
}
.wt-socials-profile .wt-userform .wt-inputwithicon .form-control {
    padding-left: 20px;
    padding-right: 70px;
}
.geodistance_range:after{
	right: auto;
	left: 6px;
}
.wt-deadline{text-align: right;}
@media(max-width:1366px){
   .wt-homeseven-img {margin-left: -182px!important;}
}
@media(max-width:1280px){
   .wt-homeseven-img {margin-left: -131px!important;}
}
@media(max-width:1080px){
   body.rtl .wt-home-slider{
      left: auto;
      right: 0;
   }
   body.rtl .wt-footertwo{padding-left: 0;}
   body.rtl .wt-footer-bg,
   body.rtl .wt-footer-bg:before{
      clip-path: polygon(0 25%,100% 0,100% 100%,0 100%);
      left: auto;
      right: 0;
  }
}
@media(max-width:991px){
	body.rtl .mega-menu .mega-menu-row>.mega-menu-col>a {padding: 15px 30px!important;}
   body.rtl .wt-headersearch .wt-loginformhold{right:50%}
   body.rtl .wt-bannerthree-title{
      padding-right: 30px;
      padding-left: 0;
   }
   body.rtl .wt-footer-bg,
   body.rtl .wt-footer-bg:before {
      clip-path: none;
      left: auto;
  }
}
@media(max-width:768px){
   body.rtl .wt-formoptions .wt-searchbtn{
      left: 0;
      right: auto;
      border-radius: 0 0 0 4px;
   }
   body.rtl .wt-bannercontentseven .wt-formoptions .wt-dropdown{
      padding-right: 0;
      padding-left: 160px;
      border-radius: 0 0 4px 0;
      border: 0;
   }
   body.rtl .wt-bannercontentseven .wt-formbanner fieldset .form-group .form-control {padding-left: 30px;}
}@media(max-width:767px){
   body.rtl .wt-filter-scroll{left:0;right:auto;-moz-transform:translateX(-150%);-webkit-transform:translateX(-150%);-o-transform:translateX(-150%);-ms-transform:translateX(-150%);transform:translateX(-150%)}
   body.rtl .wt-copyrights,
   body.rtl .wt-footerbottom .wt-addnav ul li{float: none;}
}@media(max-width:640px){
	.wt-overallrating{
		right: 0;
	}
	.wt-overallrating:before{
		margin: -4px 0 0 -3px;
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		left: 50%;
	}
	body.rtl .wt-headereleven .wt-respsonsive-search{margin: 20px 20px 20px 0;}
   body.rtl .wt-headersearch .wt-loginformhold{right:-60px;margin-right:0}
   body.rtl .wt-headernine .wt-logo{border:0;padding:0;margin:20px auto 10px}
   body.rtl .wt-headereleven .wt-loginarea{margin: 20px 20px 20px 0;}
}@media(max-width:575px){
   body.rtl .wt-latestjob-right{text-align: right;}
   body.rtl .wt-latestjob-footer .wt-btnarea{margin-right: 0;}
}
@media(max-width:480px){
	.wt-userlistingcontent .wt-servicesrating .wt-stars{float: right;}
   .wt-startsearch.wt-service-grids .wt-widgettitle .dc-docsearch{float:right}
   .wt-joininfotwonew .wt-formnewslettervtwo .form-group .form-control{padding-left: 20px;}
}@media(max-width:420px){
   body.rtl .wt-mobile-close{left:283px}
   body.rtl .wt-bannercontentseven .wt-formoptions .wt-dropdown{padding-left: 0;}
   body.rtl .wt-formoptions .wt-searchbtn{border-radius: 0 0 4px 4px;}
   body.rtl .wt-clientfeedback .wt-userlisting-breadcrumb li.wt-overallratingarea .wt-servicesrating li{text-align: right;}
}
.do-login-form .wt-checkbox label{
	padding: 0 27px 0 0!important;
}
.wt-package-content em i{
	margin-right: 5px;
	line-height: inherit;
}
.toolip-wrapo .wt-element-hint{
	left: 14px;
	right: auto;
}
body.rtl .chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
	left: 15px;
	right: auto;
}
body.rtl .chosen-container-multi .chosen-choices li.search-choice{
	padding: 3px 25px 3px 40px;
}
body.rtl .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{
	margin-left: 0;
	margin-right: 2px;
}
body.rtl .wt-followedcompnies .wt-userlistingsingle .wt-userlistingimg{
	margin: 0 0 0 20px
}
body.rtl form[name*="serach-projects"] .wt-widget{float: right;}
body.rtl .wt-startsearch .dc-docsearch{
	float: none;
	margin-left: 0;
}
body.rtl .wt-faqform .form-group.wt-btnarea{
	text-align: right;
}
body.rtl .wt-package::after{
	right: 0;
	left: auto;
}
body.rtl .wt-filtertag .wt-filtertagclear a i{
	margin: 0 0 0 5px;
}
body.rtl .wt-filtertag .wt-filtertagclear a:after{
	right: auto;
	left: -22px;
	border-left:0;
	border-right: 21px solid var(--primthemecolor);
}
.wt-filtertag li.wt-filtertagclear{
	margin-right: 0;
	margin-left: 20px;
}
body.rtl .wt-userlistingimg .profile-strength-percentage span{
	text-align: left;
	padding: 0 0 5px 5px;
}
body.rtl .wt-chatbox{
	right: auto;
	left: 0;
	border-radius: 10px 10px 10px 0;
}
body.rtl .wt-chatbox::before{
	left: 0;
	right: auto;
	border-left: 0;
	border-right: 15px solid transparent;
}
body.rtl .wt-memessage .wt-messagescontent{flex-direction: initial;}
body.rtl .wt-fileoption{
	float: right;
}
body.rtl .wt-fileoption-icon{
	border-right: 0;
	border-radius: 0 0 4px 0;
	border-left: 1px solid #ddd;
}
body.rtl .wt-iconbox{text-align: left;}
body.rtl .emojionearea .emojionearea-picker.emojionearea-picker-position-top .emojionearea-wrapper:after{
	right: auto;
	left: 20px;
}
body.rtl .wt-fileoption{float:right}
body.rtl .wt-fileoption-icon{border-right:0;border-radius:0 0 4px 0;border-left:1px solid #ddd}
body.rtl .wt-iconbox{text-align:left}
body.rtl .wt-checkboxholder .wt-checkbox.loclevel-1{margin-right:12px;margin-left:0}
body.rtl .wt-checkboxholder .wt-checkbox.loclevel-2{margin-right:24px;margin-left:0}
body.rtl .wt-checkboxholder .wt-checkbox.loclevel-3{margin-right:36px;margin-left:0}
body.rtl .wt-checkboxholder .wt-checkbox.loclevel-4{margin-right:48px;margin-left:0}
body.rtl .wt-checkboxholder .wt-checkbox.loclevel-5{margin-right:60px;margin-left:0}
body.rtl .wt-usernav ul li a span.wt-element-hint{float: left;margin-left: 0px;}
body.rtl .wt-navdashboard ul li a span.wt-element-hint{float: left;margin-left: 15px;margin-top: 1px;}
/* New Pages RTL */
.wt-homebannerv3 .wt-formbanner .wt-btnthree,
.wt-homebannerv2 .wt-formbanner .wt-btnv2{
	margin-right: 0;
	margin-left: 10px;
}
.wt-homebannerv2 .wt-formtheme .wt-btnv2 i{
	padding-right: 0;
	padding-left: 9px;
}
body.rtl .wt-homebannerv2 .wt-formbanner .wt-dropdown{
	border: 0;
	margin-right: 0;
	right: auto;
	left: 0;
	padding:0; 
	margin-left: 10px;
}
body.rtl .wt-homebannerv2 .wt-dropdown span{
	padding: 0 10px;
}
.wt-homebannerv2 .wt-radioholder {
    left: 0;
    right: auto;
}
.wt-populartags{
	padding-left: 95px;
	padding-right: 0;
}
.wt-formfocus{
	margin-right: auto;
	margin-left: 0;
}
.wt-community, .wt-appfeatures {
    padding: 50px 50px 50px 300px;
}
.wt-community__list {
    padding-right: 0;
    padding-left: 50px;
}
.wt-community__footer > span {
    margin-left: 0;
    margin-right: 30px;
    text-align: right;
}

.wt-appfeatures-section .wt-appfeaturesimg__mob{
	transform: translateX(-50%);
	right: auto;
	left: 0;
}
.wt-appfeatures-section .wt-appfeatures{
	margin-left: 0;
	margin-right: 168px;
}
.wt-appfeatures__title span em{
	margin-left: 0;
	margin-right: 10px; 
}
.wt-appfeatures__list li span{
	padding-right: 30px;
	padding-left: 0;
}
.wt-appfeatures__list li span:before{
	left: auto;
	right: 0;
}
.wt-appfeatures__list li span .wt-hottag {
    margin-left: 0;
    margin-right: 14px;
}
.wt-appfeatures-section .wt-hottag:before {
    left: auto;
    right: -3.5px;
    transform: rotate( 180deg );
}
.wt-cards__title .wt-startingprice span{
	padding-left: 0;
	padding-right: 3px;
}
.wt-rateviews em + span,
.wt-rateviews em{
	padding-left: 0;
	padding-right: 4px;
}
.wt-rateviews span{
	padding-left: 0;
	padding-right: 6px;
}
.wt-bestservice__content > a{
	right: auto;
	left: 20px;
}
.wt-sectiontitle__center .wt-sectiontitlevthree{
	text-align: center;
}

.workreap-header-v1 .wt-loginarea > .wt-loginoption + .wt-btn{
	margin-left: 0;
	margin-right: 6px;
}
.wt-populartags span{
	margin-left: 5px;
	margin-right: 0;
}
.wt-populartags a{
	margin-right: 0;
	margin-left: 7px;
}

.single-social-style .wt-loginicon a{
	padding: 0 0 0 15px;
}
.notify-wrap-icon > a span{
	right: auto;
	left: -7px;
}
.avatar-wrap-icon,
.notify-wrap-icon{
	padding-left: 20px;
    padding-right: 0;
}
.notify-wrap-start{
	right: auto;
	left: 0;
}
.wt-notification-title a{
	padding-left: 0;
	padding-right: 10px;
	margin-left: 0;
	margin-right: auto;
}

.notify-wrap-start > h3 span{
	margin-left: 0;
	margin-right: auto;	
}
.wt-servicesimg-icon{
	left: auto;
	right: -30px;
}
.wt-servicesimg-bg{
	left: 0;
	right: auto;
}
.wt-srvlist-icon{
	margin-right: 0;
	text-align: right;
	margin-left: 20px;
}
.wt-communityhead-btn{
	padding-left: 0;
	padding-right: 30px;
	margin-left: 0;
	margin-right: auto;  
}
.wt-community-list li + li:before{
	left: auto;
    right: -110px;
}
.wt-likeproject{
	margin-left: 2.5px;
	margin-right: auto; 
}
.wt-latestproject:after{
	left: auto;
    right: 30px;
}
.wt-billno{
    margin-left: 0;
	text-align: left;
    margin-right: auto; 
}
.wt-sumtotal h6,
.wt-subtotalbill > li:not(.wt-sumtotal) h6{
	float: left;
}
.wt-subtotalbill{
	padding: 0 30px 0 100px;
}
.wt-sumtotal{
	padding-left: 90px;
    padding-right: 30px;
}
.wt-notify-listwarap table thead tr th:nth-child(2),
.wt-notify-listwarap table tbody tr td:nth-child(2){
	padding-right: 0;
	padding-left: 20px;
}

.wt-notify-listwarap table thead tr th:first-child,
.wt-notify-listwarap table tbody tr td:first-child{
	padding-right: 20px;
	padding-left: 0; 
}
.wt-sumtotal,
.wt-subtotalbill > li:not(.wt-sumtotal),
.wt-invoice-table > thead > tr > th,
.wt-invoice-table > tbody > tr td,
.wt-fromreceiver,
.wt-invoicetasks,
.wt-ourservices__item figcaption h3,
.wt-project_title ,
.wt-projectinfo span,
.wt-projectinfo strong,
.wt-srvlist-title h3,
.wt-srvlist-title p,
.wt-sectiontitletwo h2,
.wt-sectiontitletwo p,
.wt-notification-title span,
.notification-items em,
.wt-accordiondetails .wt-description p,
.fw-accordion .fw-accordion-content>p,
.faq-search .wt-accordiontitle,
.wt-projectdetail-holder .wt-faq-details h3,
.wt-projectdetail-holder .wt-title h3,
.wt-bestservice__content,
.wt-community__list li span,
.wt-homebanner__title,
.wt-appfeatures__list li,
.wt-appfeatures__title span,
.wt-sectiontitlevthree,
.wt-community__title,
.wt-csubtitle,
.wt-categories p,
.wt-usersingle .wt-faq-details h3,
.post-identity-form .wt-description p,
.total-allowed-limit,
.tk-verification-content,
.wt-categories h3{
	text-align: right;
}
.wt-ourservices__item figcaption span,
.wt-sectiontitletwo.text-center h2,
.wt-sectiontitletwo.text-center p{
	text-align: center;
}
@media (max-width: 1680px){
	.wt-community {
    	padding-left: 100px;
	}
}
@media (max-width: 1536px){
	.wt-community {
	    padding-right: 30px;
	    padding-left: 30px;
	}
}
@media (max-width: 1440px){
	.wt-appfeatures-section .wt-appfeatures {margin-right: 50px;}
	.wt-appfeatures-section .wt-appfeaturesimg__mob {display: none;}
}
@media (max-width: 1400px){
	.wt-notify-listwarap table thead tr th:first-child,
	.wt-notify-listwarap table tbody tr td:first-child {
	    padding: 10px;
	}
}
@media (max-width: 1199px){
	.wt-community__list{padding: 0;}
	.wt-appfeatures-section .wt-appfeatures {
	    padding: 50px 30px;
	    max-width: 600px;
	    margin: 0;
	}
	.wt-notify-listwarap table thead tr th:first-child,
	.wt-notify-listwarap table tbody tr td:first-child {padding: 10px 20px;}
}
@media (max-width: 991px){
	.wt-subtotalbill{
		padding:0; 
	}
	.wt-invoice-table > tbody > tr td span{text-align: right;}
	.wt-communityhead-btn{
		margin: 0;
    	padding: 20px 0 0;
	}
	.wt-appfeatures-section .wt-appfeatures {max-width: 100%;}
	.wt-invoice-table td:before{
		padding-right: 0;
		padding-left: 20px;
		text-align: right;
	}
}
@media (max-width: 800px){
	.wt-notify-listwarap table thead tr th:nth-child(2),
	.wt-notify-listwarap table tbody tr td:nth-child(2){
		padding-right: 20px;
	}
}
@media (max-width: 767px){
	body.rtl .wt-homebannerv2 .wt-formbanner fieldset .form-group .form-control{padding-left: 60px;}
	.wt-populartags{
		padding-left: 0;
	}
	.wt-homebannerv3 .wt-formbanner .wt-btnthree,
	.wt-homebannerv2 .wt-formbanner .wt-btnv2{margin: 0}
	.notify-wrap-start{
		left: -100px;
	}
}
@media (max-width: 640px){
	.notify-wrap-icon{padding: 18px 10px;}
}
@media (max-width: 575px){
	.wt-community__footer > span{margin-right: 0;}
	.notify-wrap-start{left: -100%;}
}
@media (max-width: 480px){
	.wt-invoicebill{text-align: right;}
	.wt-appfeatures-section .wt-appfeatures,
	.wt-community {
		padding-right: 15px;
		padding-left: 15px;
	}
	.wt-billno{
		margin-left: auto;
	    text-align: right;
	    margin-right: 0;
	}
}
@media (max-width: 420px){
	.notify-wrap-start{
		left: auto;
		right: -70%;
	}
	.wt-joinnow-form .wt-checkbox-wrap h4{text-align: right;}
	.wt-checkbox-wrap .wt-radio{
		margin-right: 0;
	}
	.wt-joinnow-form .wt-checkbox-wrap .wt-radio ~ .wt-radio{
		margin-left: 0;
		margin-right: 20px;
	}
}
@media (max-width: 375px){
	body.rtl .wt-rightarea .wt-nav .navbar-toggler{margin-left: 10px;}
	.notify-wrap-icon {padding: 0 10px;}
}